<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top" class="scrollspy">

        {{ partial "nav.html" . }}
		<header class=" light-blue darken-1">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h2 class="center">The Linux Experience</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 left">
						category:
						{{ range $name, $taxonomy := .Site.Taxonomies.category }}
						<div class="chip">
							<a href="{{ "/category/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a>
						</div>
						{{ end}}
					</div>
				</div>
			</div>
		</header>
		<div class="container">
			<section>
				{{ range .Paginator.Pages.ByPublishDate }}
					<div id="row">
						<div class="col s4">
							<div class="card-panel hoverable small">
								<div class="card-content">
									<h2 class="card-title">{{ .Title }}</h2>
									<br><aside class="dates">{{ .Date.Format "2006-01-02" }}</aside>
									<br>{{ .Description | markdownify }}
								</div>
										<br></br>
								<div class="card-action">

								    <button class="btn red waves-effect waves-light" onclick="location.href='{{ .Permalink }}';">Read More
									    <i class="material-icons right">remove_red_eye</i>
								    </button>
								</div>
							</div>
						</div>
					</div>
				{{ end }}
			</section>
			</div>
        {{ partial "footer.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>
