<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
		{{ partial "head.html" . }}
	</head>
	<body id="page-top" class="scrollspy grey lighten-5">

	{{ "<!-- Navigation -->" | safeHTML }}
			 <div class="navbar-fixed green darken-4">
				<ul id="location-list" class="dropdown-content   green darken-3">
					  <li><a class =" blue-text text-lighten-5  active" href="{{.URL}}#irish-town">Irish Town</a></li>
					  <li><a class =" blue-text text-lighten-5" href="{{.URL}}#new-kingston">New Kingston</a></li>
					  <li><a class =" blue-text text-lighten-5" href="{{.URL}}#port-antonio">Port Antonio</a></li>
				</ul>
				<nav>
					<div class="nav-wrapper z-depth-2  green darken-4">
						<div class="container">
							<a class="brand-logo" href="/">{{ with .Site.Params.navigation.brand }}{{ . }}{{ end }}</a>
							<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
							{{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
							<ul id="nav-mobile" class="right hide-on-med-and-down">
								<li class="hidden">
									<a href="#page-top"></a>
								</li>
								<li class="">
									<a href="/blog">Blog</a>
								</li>
								<li>
									<a onClick="toggledisplay();">{{ with .Site.Params.location.title }}{{ . }}{{ end }}<i class="material-icons right">arrow_drop_down</i></a>
								</li>
								<li class="page-scroll">
									<a href="#about">{{ with .Site.Params.about.title }}{{ . }}{{ end }}</a>
								</li>
								<li class="page-scroll">
								<a href="#contact">{{ with .Site.Params.contact.title }}{{ . }}{{ end }}</a>
							</ul>
							{{ "<!-- /.navbar-collapse -->" | safeHTML }}
							<ul class="side-nav" id="slide-out">
								<li class="hidden">
									<a href="#page-top"></a>
								</li>
								<li class="">
									<a href="/blog">Blog</a>
								</li>
								<li class="page-scroll">
									<a onClick="toggledisplay();">{{ with .Site.Params.location.title }}{{ . }}{{ end }}</a>
								</li>
								<li class="page-scroll">
									<a href="#about">{{ with .Site.Params.about.title }}{{ . }}{{ end }}</a>
								</li>
								<li class="page-scroll">
									<a href="#contact">{{ with .Site.Params.contact.title }}{{ . }}{{ end }}</a>
								</li>
							</ul>
						</div>
						{{ "<!-- /.navbar-collapse -->" | safeHTML }}
					</div>
					{{ "<!-- /.container-fluid -->" | safeHTML }}



								<div id="navlocate" class="nav-content  green darken-3 center" style="display: none;">
									<ul class="tabs tabs-transparent offset" onClick="toggledisplay()">
										<li class="tab"><a class="active" href="#irish-town" onClick="toggledisplay()">Irish Town</a></li>
										<li class="tab"><a href="#new-kingston" onClick="toggledisplay()">New Kingston</a></li>
										<li class="tab"><a href="#port-antonio" onClick="toggledisplay()">Port Antonio</a></li>
									</ul>
								</div>
				</nav>

			</div>

		<div id="irish-town" class="col s12">
			<header class="green darken-2">
					<div class="container">
						<div class="row">
							<div class="col s12">
								<h2 class="center">RafJam: Irish Town</h2>
							</div>
						</div>

						<div class="row">
						    <div class="col s6">
							<p class="flow-text">{{ with .Site.Params.kingston.left }}{{ . | markdownify }}{{ end }}</p>
						    </div>
						    <div class="col s6">
							<p class="flow-text">{{ with .Site.Params.kingston.right }}{{ . | markdownify }}{{ end }}</p>
						    </div>
						</div>
					</div>

			</header>


			<div class="block">
				<div class="row">

					<ul class="collapsible popout" data-collapsible="accordion">
						<li>
							<div class="collapsible-header active"><i class="material-icons">map</i>Map</div>
							<div class="collapsible-body">

							</div>
						</li>
						<li>
							<div class="collapsible-header"><i class="material-icons">photo_library</i>Gallery</div>
							<div class="collapsible-body">

								{{ $url := (printf "/img/location/%s" "Irish Town") }}
									{{ $folder := (printf "/static/img/location/%s" "Irish Town") }}
										{{ $files := readDir $folder }}

										<div class="slider">
											<ul class="slides">
												{{ range $files }}
														<li>
															<img src="{{$url}}/{{.Name | urlize }}">
														</li>
												{{ end }}
												</ul>
										</div>
							</div>
						</li>
						<li>
							<div class="collapsible-header"><i class="material-icons">vpn_key</i>Rooms</div>
							<div class="collapsible-body col s12 cards-container">

								{{ range $.Site.Data.rooms }}
									{{ if in .location "Irish Town" }}


									<div class="col s12 m12 l4 xl4" data-target="{{.code}}" >
										<div class="card hoverable small">
											<div class="card-image">
												<img src="img/location/{{ .img }}">
											</div>
											<div class="card-content">
												<span class="card-title">{{.title}}</span><p class="right-align">{{.cost}}</p>
												<!--<p>{{ .description | markdownify }}</p>-->
											</div>
										</div>
									</div>
									<!-- Modal Structure -->
									<div id="{{.code}}" class="modal modal-fixed-footer grey lighten-4">
										<div class="modal-content">

											<div class="row">
												<h4>{{.title}}</h4>
											</div>

											<div class="row">
					    							<div class="col s12 m12 l4 xl4">
													<img class="responsive-img" src="img/location/raw-{{ .img }}">
														<p>Cost: {{.cost}}</p>
												</div>
					    							<div class="col s12 m12 l8 xl8">

					    								<div class="row">
						    								<i class="fa fa-info-circle  col s1" aria-hidden="true"></i>
						    								<div class="card horizontal col s11">
															<div class="card-stacked">
																<div class="card-content">
																	<p>{{ .description | markdownify }}</p>
																</div>
															</div>
														</div>
						    							</div>

					    								<div class="row">
						    								<i class="fa fa-bed  col s1" aria-hidden="true"></i>
						    								<div class="card horizontal col s11">
															<div class="card-stacked">
																<div class="card-content">
																	<p>{{ .beds }}</p>
																</div>
															</div>
														</div>
						    							</div>

					    								<div class="row">
						    								<i class="fa fa-bath  col s1" aria-hidden="true"></i>
						    								<div class="card horizontal col s11">
															<div class="card-stacked">
																<div class="card-content">
																	<p>{{ .bathrooms }}</p>
																</div>
															</div>
														</div>
						    							</div>

												</div>
			    								</div>
										</div>
										<div class="modal-footer">
											<a href="{{.URL}}location/#irish-town" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
										</div>
									</div>
									{{ end }}
								{{ end }}

							</div>
						</li>
					</ul>

				</div>
			</div>
		</div>




		<div id="new-kingston" class="col s12">
			<header class="grey">
					<div class="container">
						<div class="row">
							<div class="col s12">
								<h2 class="center">RafJam: New Kingston</h2>
							</div>
						</div>

						<div class="row">
						    <div class="col s6">
							<p class="flow-text">{{ with .Site.Params.kingston.left }}{{ . | markdownify }}{{ end }}</p>
						    </div>
						    <div class="col s6">
							<p class="flow-text">{{ with .Site.Params.kingston.right }}{{ . | markdownify }}{{ end }}</p>
						    </div>
						</div>
					</div>

			</header>


			<div class="block">

				<div class="row">

					<ul class="collapsible popout" data-collapsible="accordion">
						<li>
							<div class="collapsible-header active"><i class="material-icons">map</i>Map</div>
							<div class="collapsible-body">

							</div>
						</li>
						<li>
							<div class="collapsible-header"><i class="material-icons">photo_library</i>Gallery</div>
							<div class="collapsible-body">

								{{ $url := (printf "/img/location/%s" "Port Antonio") }}
									{{ $folder := (printf "/static/img/location/%s" "Port Antonio") }}
										{{ $files := readDir $folder }}

										<div class="slider">
											<ul class="slides">
												{{ range $files }}
														<li>
															<img src="{{$url}}/{{.Name | urlize }}">
														</li>
												{{ end }}
												</ul>
										</div>
							</div>
						</li>
						<li>
							<div class="collapsible-header"><i class="material-icons">vpn_key</i>Rooms</div>
							<div class="collapsible-body col s12 cards-container">

								{{ range $.Site.Data.rooms }}
									{{ if in .location "New Kingston" }}


									<div class="col s12 m12 l4 xl4" data-target="{{.code}}" >
										<div class="card hoverable small">
											<div class="card-image">
												<img src="img/location/{{ .img }}">
											</div>
											<div class="card-content">
												<span class="card-title">{{.title}}</span><p class="right-align">{{.cost}}</p>
												<!--<p>{{ .description | markdownify }}</p>-->
											</div>
										</div>
									</div>
									<!-- Modal Structure -->
									<div id="{{.code}}" class="modal modal-fixed-footer grey lighten-4">
										<div class="modal-content">

											<div class="row">
												<h4>{{.title}}</h4>
											</div>

											<div class="row">
					    							<div class="col s12 m12 l4 xl4">
													<img class="responsive-img" src="img/location/raw-{{ .img }}">
														<p>Cost: {{.cost}}</p>
												</div>
					    							<div class="col s12 m12 l8 xl8">

					    								<div class="row">
						    								<i class="fa fa-info-circle  col s1" aria-hidden="true"></i>
						    								<div class="card horizontal col s11">
															<div class="card-stacked">
																<div class="card-content">
																	<p>{{ .description | markdownify }}</p>
																</div>
															</div>
														</div>
						    							</div>

					    								<div class="row">
						    								<i class="fa fa-bed  col s1" aria-hidden="true"></i>
						    								<div class="card horizontal col s11">
															<div class="card-stacked">
																<div class="card-content">
																	<p>{{ .beds }}</p>
																</div>
															</div>
														</div>
						    							</div>

					    								<div class="row">
						    								<i class="fa fa-bath  col s1" aria-hidden="true"></i>
						    								<div class="card horizontal col s11">
															<div class="card-stacked">
																<div class="card-content">
																	<p>{{ .bathrooms }}</p>
																</div>
															</div>
														</div>
						    							</div>

												</div>
			    								</div>
										</div>
										<div class="modal-footer">
											<a href="{{.URL}}location/#irish-town" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
										</div>
									</div>
									{{ end }}
								{{ end }}

							</div>
						</li>
					</ul>

				</div>
			</div>
		</div>




		<div id="port-antonio" class="col s12">
			<header class="orange lighten-1">
					<div class="container">
						<div class="row">
							<div class="col s12">
								<h2 class="center">RafJam: Port Antonio</h2>
							</div>
						</div>

						<div class="row">
						    <div class="col s6">
							<p class="flow-text">{{ with .Site.Params.kingston.left }}{{ . | markdownify }}{{ end }}</p>
						    </div>
						    <div class="col s6">
							<p class="flow-text">{{ with .Site.Params.kingston.right }}{{ . | markdownify }}{{ end }}</p>
						    </div>
						</div>
					</div>

			</header>


			<div class="block">
				<div class="row">

					<ul class="collapsible popout" data-collapsible="accordion">
						<li>
							<div class="collapsible-header active"><i class="material-icons">map</i>Map</div>
							<div class="collapsible-body">

							</div>
						</li>
						<li>
							<div class="collapsible-header"><i class="material-icons">photo_library</i>Gallery</div>
							<div class="collapsible-body">

								{{ $url := (printf "/img/location/%s" "New Kingston") }}
									{{ $folder := (printf "/static/img/location/%s" "New Kingston") }}
										{{ $files := readDir $folder }}

										<div class="slider">
											<ul class="slides">
												{{ range $files }}
														<li>
															<img src="{{$url}}/{{.Name | urlize }}">
														</li>
												{{ end }}
												</ul>
										</div>
							</div>
						</li>
						<li>
							<div class="collapsible-header"><i class="material-icons">vpn_key</i>Rooms</div>
							<div class="collapsible-body col s12 cards-container">

								{{ range $.Site.Data.rooms }}
									{{ if in .location "Port Antonio" }}


									<div class="col s12 m12 l4 xl4" data-target="{{.code}}" >
										<div class="card hoverable small">
											<div class="card-image">
												<img src="img/location/{{ .img }}">
											</div>
											<div class="card-content">
												<span class="card-title">{{.title}}</span><p class="right-align">{{.cost}}</p>
												<!--<p>{{ .description | markdownify }}</p>-->
											</div>
										</div>
									</div>
									<!-- Modal Structure -->
									<div id="{{.code}}" class="modal modal-fixed-footer grey lighten-4">
										<div class="modal-content">

											<div class="row">
												<h4>{{.title}}</h4>
											</div>

											<div class="row">
					    							<div class="col s12 m12 l4 xl4">
													<img class="responsive-img" src="img/location/raw-{{ .img }}">
														<p>Cost: {{.cost}}</p>
												</div>
					    							<div class="col s12 m12 l8 xl8">

					    								<div class="row">
						    								<i class="fa fa-info-circle  col s1" aria-hidden="true"></i>
						    								<div class="card horizontal col s11">
															<div class="card-stacked">
																<div class="card-content">
																	<p>{{ .description | markdownify }}</p>
																</div>
															</div>
														</div>
						    							</div>

					    								<div class="row">
						    								<i class="fa fa-bed  col s1" aria-hidden="true"></i>
						    								<div class="card horizontal col s11">
															<div class="card-stacked">
																<div class="card-content">
																	<p>{{ .beds }}</p>
																</div>
															</div>
														</div>
						    							</div>

					    								<div class="row">
						    								<i class="fa fa-bath  col s1" aria-hidden="true"></i>
						    								<div class="card horizontal col s11">
															<div class="card-stacked">
																<div class="card-content">
																	<p>{{ .bathrooms }}</p>
																</div>
															</div>
														</div>
						    							</div>

												</div>
			    								</div>
										</div>
										<div class="modal-footer">
											<a href="{{.URL}}location/#irish-town" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
										</div>
									</div>
									{{ end }}
								{{ end }}

							</div>
						</li>
					</ul>

				</div>
			</div>
		</div>



<!--		<div id="grey" class="block grey lighten-5">
			<nav class="pushpin-demo-nav" data-target="grey">
				<div class="nav-wrapper grey lighten-1">
					<div class="container">
						<a href="#" class="brand-logo">RafJam News</a>
						<ul id="nav-mobile" class="right hide-on-med-and-down">
						</ul>
					</div>
				</div>
			</nav>

			<div class="container">
				<section>
					{{ range .Paginator.Pages.ByTitle }}
						<div id="row">
							<div class="col s4">
								<div class="card-panel hoverable small">
									<div class="card-content">
										<h2 class="card-title flow-text">{{ .Title }}</h2>
										<aside class="dates">{{ .Date.Format "2006-01-02" }}</aside>
										<p class="flow-text">{{ .Description | markdownify }}</p>
									</div>
									<div class="card-action">

									    <button class="btn red waves-effect waves-light" onclick="location.href='{{ .Permalink }}';">Read More
										    <i class="material-icons right">remove_red_eye</i>
									    </button>
									</div>
								</div>
							</div>
						</div>
					{{ end }}
				</section>
				</div>
-->

		</div>

			{{ partial "footer.html" . }}
			{{ partial "modals.html" . }}
			{{ partial "js.html" . }}
	</body>
</html>
