<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top" class="scrollspy  grey lighten-5">

        {{ partial "nav.html" . }}

    <header  class=" light-blue darken-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                        <h1>{{ .Title }}</h1>
                        <h5 class="headline">
                        {{ .Date.Format "January 2, 2006" }}
			</h5>
                        <br></br>
                </div>
            </div>
		<div class="row">
			<div class="col-lg-12 left">
				series:
				{{ with .Params.series }}
				{{ if ge (len .) 1 }}
				    {{ range . }}
					<div class="chip">
						<a href="{{ $.Site.BaseURL }}/series/{{ . | urlize }}">{{ . }}</a>
					</div>
				    {{ end }}
				{{ end }}
				{{ end}}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 left">
				tags:
				{{ with .Params.tags }}
				{{ if ge (len .) 1 }}
				    {{ range . }}
					<div class="chip">
						<a href="{{ $.Site.BaseURL }}/tags/{{ . | urlize }}">{{ . }}</a>
					</div>
				    {{ end }}
				{{ end }}
				{{ end}}
			</div>
		</div>
    </div>
    </header>

        <section id="">
            <div class="container">
            <article class="post flow-text browser-default">
                <section id="post-body">
                    {{ .Content }}
                </section>
            </article>
            <footer id="post-meta" class="clearfix">
                <div class="footer-above">
                    <div class="container">
                        <div class="row center">
                            {{ with .Site.Params.twitter }}<a href="https://twitter.com/{{ . }}">{{ end }}
                                    <img class="avatar" src="{{ .Site.BaseURL }}img/profile.png">
                                    <div>
                                        <span class="">{{ .Site.Params.name }}</span>
                                        <span>{{ .Site.Params.aboutAuthor }}</span>
                                    </div>
                            <div></div>
                            <br><br><br>
                        </div>
                    </div>
                </div>
            </footer>
		<div id="comments" class="scrollspy">
			{{ template "_internal/disqus.html" . }}
		</div>
            </div>
        </section>


        {{ partial "footer.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>
