	{{ partial "head.html" . }}
	<body>
	{{ partial "nav.html" . }}

	<section id="wrapper" class="section scrollspy">
		{{ partial "post-list.html"  . }}........
        {{ partial "pagination.html" . }}
		{{ partial "footer.html" . }}
	</section>

	{{ partial "js.html" . }}
	</body>
</html>
