<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top" class="scrollspy">

        {{ partial "nav.html" . }}

	    <header  class="">

		<div id="carousel" class="carousel slide" data-ride="carousel">

		<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">

						<div class="item active">
								<img class="img-responsive" src="/img/location/{{ .Params.title }}/highlight.jpg" alt="..."/>
								<div class="carousel-caption">
								</div>
						</div>

				{{with .Params.title}}
					{{ $code := (printf "%s" .) }}
					{{ $url := (printf "/img/location/%s" $code) }}
						{{ $folder := (printf "/static/img/location/%s/gallery" $code) }}
							{{ $files := readDir $folder }}


								{{ range $files }}
									<div class="item">
										<img class="" src="{{$url}}/gallery/{{.Name}}" alt="..."/>
										<div class="carousel-caption">

										</div>
									</div>
								{{ end }}
				{{end}}
			</div>

		<!-- Controls -->
			<a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#carousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>	    </header>

		<div class="container">
			<h1>{{ .Title }}</h1>

			{{ with .Params.amenities }}
				{{ range . }}
					<i class="material-icons md-dark pmd-sm" data-trigger="hover" data-toggle="popover" data-color="success" data-placement="bottom" data-content="{{ . }}"> {{ . }}</i>
				{{ end }}
			{{ end }}
		</div>

		<div class="container post flow-text browser-default">
			<section id="post-body">

				<div class= "col-xs-12 col-md-10">
					<p>Cost: {{ .Params.cost }}</p>
					{{ .Content }}
				</div>

				<div class= "col-xs-12 col-md-2">
					<p>Attributes: </p>
					<ul>
					{{ with .Params.attributes }}
						{{ range . }}
							<li> {{ . }}</li>
						{{ end }}
					{{ end }}
					</ul>
				</div>

			</section>

			<!-- <div class="container"> -->

			<!-- 	<div class="row"> -->
			<!-- 		<div class="col-xs-12 center"> -->
			<!-- 			<h2>Rooms</h2> -->
			<!-- 		</div> -->
			<!-- 	</div> -->

			<!-- 	<div class="container"> -->

			<!-- 		{{ range $.Site.Data.room }} -->
			<!-- 			{{ if in .location $.Params.codeid }} -->
			<!-- 				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> -->
								<!-- Default card starts -->
			<!-- 					<div class="pmd-card pmd-card-default pmd-z-depth"> -->

								<!-- Card media -->
			<!-- 						<div class="pmd-card-media"> -->
			<!-- 							<img src="img/location/{{ .code }}/{{ .img }}" width="1184" height="666" class="img-responsive"/> -->
			<!-- 						</div> -->

								<!-- Card body -->
			<!-- 						<div class="pmd-card-title"> -->
			<!-- 							<h2 class="pmd-card-title-text">{{.title}}</h2> -->
										<!-- <span class="pmd-card-subtitle-text">Secondary text</span>	 -->
			<!-- 						</div> -->

			<!-- 						<div class="pmd-card-body"> -->
			<!-- 							{{ .description | markdownify }} -->
			<!-- 						</div> -->

								<!-- Card actions -->
			<!-- 						<div class="pmd-card-actions"> -->
			<!-- 							<a href="location/{{.location}}/room/{{.code}}" class="btn pmd-btn-flat pmd-ripple-effect btn-primary" type="button">See More</a> -->
			<!-- 						</div> -->
			<!-- 					</div> -->
								<!--Default card ends -->
			<!-- 				</div> -->

			<!-- 			{{ end }} -->
			<!-- 		{{ end }} -->

			<!-- 	</div> -->

				<!-- <footer id="post-meta" class="clearfix"> -->
				<!-- 	<div class="footer-above"> -->
				<!-- 		<div class="container"> -->
				<!-- 			<div class="row center"> -->
				<!-- 				{{ with .Site.Params.twitter }}<a href="https://twitter.com/{{ . }}"></a>{{ end }} -->
				<!-- 				<img class="avatar" src="{{ .Site.BaseURL }}img/profile.png"/> -->
				<!-- 				<div> -->
				<!-- 					<span class="">{{ .Site.Params.name }}</span> -->
				<!-- 					<span>{{ .Site.Params.aboutAuthor }}</span> -->
				<!-- 				</div> -->
				<!-- 				<div></div> -->
				<!-- 					<br></br> -->
				<!-- 			</div> -->
				<!-- 		</div> -->
				<!-- 	</div> -->
				<!-- </footer> -->

				<!-- <div id="comments" class="scrollspy"> -->
				<!-- 	{{ template "_internal/disqus.html" . }} -->
			<!-- 	</div> -->
			<!-- </div> -->

		</div>

        {{ partial "footer.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>
