/*!
 * Start Bootstrap - Freelancer Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */


body {
    overflow-x: hidden;
    color: #393141;
    margin-top: 64px !important;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

#post-meta > div > div > div > img{
    height: 50px;
    width: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 700;
    color: black;
}

#page-top > nav > div.container-fluid > div.navbar-header > a > div > span:nth-child(2),
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li:nth-child(n) > a,
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.pull-left > li > a{
    color: rgba(85, 85, 85, 1) !important;
}

#page-top > nav > div.container-fluid > div.navbar-header > a > span > div:nth-child(2):hover,
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li:nth-child(n) > a:hover,
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.pull-left > li > a:hover,
#page-top > nav > div.container-fluid > div.navbar-header > a > span > div:nth-child(2):active,
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li:nth-child(n) > a:active,
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.pull-left > li > a:active{
    color: rgba(2, 2, 2, 1) !important;
}


.img-centered {
    margin: 0 auto;
}

.pmd-chip, .pmd-chip a {
	color: rgb(247, 247, 247);

    background-color: rgba(11%, 11%, 11%, 1);
}

.pmd-chip:hover, .pmd-chip a:hover {
	color: rgb(255, 255, 255);

    background-color: rgba(32%, 32%, 32%, 1);
}

header {
    text-align: center;
    color: #222;
    background-color: #DDD;
}

header img, #carousel > div > div.item.active, #carousel > div > div:nth-child(n).item.active {
    display: block;
    margin: auto !important;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2.7em;
    font-weight: 300;
}

header .intro-text .skills {
    font-size: 1.5em;
    font-weight: 300;
}

@media(min-width:768px) {
    header .container {
        padding-top: 50]]px;
        padding-bottom: 50px;
    }

    header .intro-text .name {
        font-size: 1em;
    }

    header .intro-text .skills {
        font-size: .75em;
    }
}



.arrow {
	width: 50px;
	height: 50px;
	position: fixed;
	left: 50%;
	right: 50%;
	margin-left: -25px;
}

.arrow-prev {
	top: 0;
	display: none;
}

.arrow-next {
	bottom: 0;
	display: block;
}

section {
    padding: 100px 0;
    /* min-height: 100vh; */
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: black;
}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
    outline: 0;
    color: #909090 !important;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    color: black;
}


.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
    display: inline-block !important;
}
}

/* STYLED FOR MATERIALIZE */


#page-top > header > div > div > div > img{
	max-height: 40%;
	max-width: 100%;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
}

/*Styles for demo*/
.text-center {
  text-align: center;
}

footer.page-footer {
    padding-top: 20px;
    color: white;
}

footer.page-footer .footer-copyright {
	color: white;
	background-color: black;
}

.slider{
	height: 800px !important;
	background-color: #FAFAFA !important;
}

.slider .indicator{
	background-color: #FAFAFA !important;
}

.slides{
	height: 760px !important;
}

#page-top > header > div > ul.slides > li.active > img{
	filter: brightness(50%);
}

 html, body, .block {
    height: auto !important;
    min-height: 100% !important;
}

#sidenav-overlay, #page-top > nav > div.pmd-sidebar-overlay.pmd-sidebar-overlay-active{
    z-index: 995 !important;
}

.nav-title-highlight{
	color: green;
}

.nav-title-highlight:hover{
	color: rgba(0, 187, 39, 1);
}

nav .nav-wrapper {
	z-index: 995 !important;
}

#page-top > nav{

  background-color: rgba(96%, 96%, 96%, 1);
}

.pmd-navbar .pmd-navbar-toggle{
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    align-items: flex-start;
    text-align: center;

  position: relative;
  /* padding: 9px 10px; */
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: rgba(87%, 87%, 87%, 1);
  /* background-image: none; */
  border: 1px solid transparent;
background-size: 45px;
  background-image: url('/img/profile.png');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
}

#page-top > nav > div.container-fluid > div.navbar-header > a,
#page-top > nav > div.container-fluid > div.navbar-header > button{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.navbar-brand{
    position: absolute;
    width: 100vw !important;
    /* height: 100vh !important; */
    /* left: 50vw; */
    margin-left: auto !important;    /* 50% of your logo width */
    margin-right: auto !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    padding-top: auto !important;
    padding-bottom: auto !important;
    padding-left: 0 !important;
    display: block;
    text-align: center !important;

	white-space: nowrap;
	overflow: hidden;
}

#page-top > nav > div.container-fluid > div.navbar-header > a > div{
    position: absolute;
    width: 40vw !important;
    /* height: 100vh !important; */
    /* left: 50vw; */
    margin-left: auto !important;   /* 50% of your logo width */
    margin-right: auto !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    padding-top: auto !important;
    padding-bottom: auto !important;
    /* padding-left: 0 !important; */
    display: block;
    text-align: center !important;
    color: white;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media screen and (max-width: 905px) {
	#page-top > nav > div.container-fluid > div.navbar-header > a > div{
	    position: absolute;
	    width: 40vw !important;
	    /* height: 100vh !important; */
	    /* left: 50vw; */
	    margin-left: 23vw !important;   /* 50% of your logo width */
	}
}

@media screen and (max-width: 767px) {
	#page-top > nav > div.container-fluid > div.navbar-header > a > div{
	    position: absolute;
	    width: 88vw !important;
	    /* height: 100vh !important; */
	    /* left: 50vw; */
	    margin-left: 10vw !important;   /* 50% of your logo width */
	}
}

@media screen and (max-width: 480px) {
	#page-top > nav > div.container-fluid > div.navbar-header > a{
	    position: absolute;
	    width: 80vw !important;
	    margin-left: 13vw !important;   /* 50% of your logo width */
	    margin-right: auto !important;
	    display: block;
	    font-size: 20px !important;
	}
	#page-top > nav > div.container-fluid > div.navbar-header > a > div{
	    position: relative;
	    left: 0vw;
	    font-size: 5vw !important;
	    margin: auto;
	}

	body {
	    margin-top: 56px !important;
	}
}

@media screen and (min-width: 480px) {
	#page-top > nav > div.container-fluid > div.navbar-header > a{
	    position: absolute;
	    width: 100vw !important;
	    margin-left: auto !important;   /* 50% of your logo width */
	    margin-right: auto !important;
	    display: block;
	    /* font-size: 20px !important; */
	}
	#page-top > nav > div.container-fluid > div.navbar-header > a > div{
	    position: relative;
	    /* left: 30vw; */
	    /* font-size: 2vw !important; */
	    margin: auto;
	}

	body {
	    margin-top: 56px !important;
	}
}
