{{ "<!-- About Section -->" | safeHTML }}
<section class="success  green darken-2" id="about">
    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <h2>{{ with .Site.Params.about.title }}{{.}}{{ end }}</h2>
            </div>
        </div>
    <div class="row">
        <div class="col s6">
            <p>{{ with .Site.Params.about.left }}{{ . | markdownify }}{{ end }}</p>
        </div>
            <div class="col s6">
                <p>{{ with .Site.Params.about.right }}{{ . | markdownify }}{{ end }}</p>
            </div>
        </div>
    </div>
</section>
