{{ "<!-- Contact Section -->" | safeHTML }}
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col s12 center">
				<h2>{{ with .Site.Params.contact.title }}{{.}}{{ end }}</h2>
			</div>
		</div>
		<div class="row">
			<div class="row">
				<div class="col s12 center">
					<h5>Send us a message</h5>
				</div>
			</div>
			<form  class="col s12" action="//formspree.io/{{ with .Site.Params.email }}{{.}}{{ end }}" method="POST" name="sentMessage" id="contactForm" novalidate>
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">person pin</i>
						<label>{{ with .Site.Params.contact.form.name.text }}{{.}}{{ end }}</label>
						<input type="text" name="name" class="form-control" id="name" required data-validation-required-message="{{ with .Site.Params.contact.form.name.error }}{{.}}{{ end }}">
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<i class="material-icons prefix">email</i>
						<label data-error="wrong" data-success="right">{{ with .Site.Params.contact.form.email.text }}{{.}}{{ end }}</label>
						<input type="email" name="_replyto" class="form-control" id="email" required data-validation-required-message="{{ with .Site.Params.contact.form.email.error }}{{.}}{{ end }}">
					</div>
					<div class="input-field col s6">
						<i class="material-icons prefix">phone</i>
						<label>{{ with .Site.Params.contact.form.phone.text }}{{.}}{{ end }}</label>
						<input type="tel" class="form-control" id="phone" required data-validation-required-message="{{ with .Site.Params.contact.form.phone.error }}{{.}}{{ end }}">
					</div>
				</div>
				<input type="hidden"  name="_subject" value="New submission!">
				<input type="text" name="_gotcha" style="display:none" />
				</div>
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">message</i>
						<label>Message</label>
						<textarea rows="5" name="message" class="materialize-textarea" placeholder="{{ with .Site.Params.contact.form.message.text }}{{.}}{{ end }}" id="message" required data-validation-required-message="{{ with .Site.Params.contact.form.message.error }}{{.}}{{ end }}"></textarea>
					</div>
				</div>
				<br>
				<div id="success"></div>
				<div class="row">
					<div class="form-group col-xs-12">
						<button class="btn red waves-effect waves-light" type="submit">{{ with .Site.Params.contact.form.button.text }}{{.}}{{ end }}
							<i class="material-icons right">send</i>
						</button>
					</div>
				</div>
			</form>
			<div class="row">
				<div class="col s12 center">
					<h5>schedule an appointment</h5>
				</div>
			</div>
			<div class="row">
				<div class="col s12 center">
					<a target="_blank" class="waves-effect waves-light btn red" href="https://inkwell.setmore.com/"><i class="material-icons right">today</i>book an appointment</a>
				</div>
			</div>

		</div>
	</div>
</section>
