{{ "<!-- Footer -->" | safeHTML }}
<footer class="page-footer green darken-2">
	<div class="container">
		<div class="row">
			<div class="col s4  white-text">
				<h5 class="center">{{ with .Site.Params.footer.location.title }}{{.}}{{ end }}</h5>

				{{ with .Site.Params.footer.location.address }}
					<p>
						{{ range $i, $e := $.Site.Params.footer.location.address }}
							{{ if $i }}<br>{{ end }}
								{{ $e }}
						{{ end }}
					</p>
				{{ end }}
			</div>
			<div class="col s4 center">
				<h5>{{ with .Site.Params.footer.social.title }}{{.}}{{ end }}</h5>
				<div class="row center">
						{{ range .Site.Params.footer.social.networks }}
								<a href="{{ .link }}" class="btn-social btn-outline"><i class="fa fa-fw {{ .icon }}"></i></a>
						{{ end }}
				</div>
			</div>
			<div class="col s4">
				<h5 class="center">{{ with .Site.Params.footer.credits.title }}{{.}}{{ end }}</h5>
				<p>{{ with .Site.Params.footer.credits.text }}{{ . | markdownify }}{{ end }}</p>
			</div>
		</div>
	</div>
    <div class="footer-copyright  green darken-1">
        <div class="container">
                    {{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}
        </div>
    </div>
</footer>

{{ "<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->" | safeHTML }}


<div class="fixed-action-btn click-to-toggle">
	<a class="btn-floating btn-large red">
		<i class="large material-icons">more_vert</i>
	</a>
	<ul>
		<li><a href="#page-top" class="btn-floating red"><i class="material-icons">keyboard_arrow_up</i></a></li>
		<li><a onclick="goBack()" class="btn-floating yellow darken-1"><i class="material-icons">arrow_back</i></a></li>
		<li><a  href="#share" class="btn-floating green"><i class="material-icons">share</i></a></li>
		<li><a href="{{ .Permalink }}#comments" class="btn-floating blue"><i class="material-icons">comment</i></a></li>
	</ul>
</div>

  <!-- Modal Structure -->
  <div id="share" class="modal bottom-sheet">
    <div class="modal-content">
<ul class="collection">
	<li class="collection-item avatar">
		<i class="fa fa-twitter-square circle blue"></i>
		<span class="title">tweet this</span>
		<p>{{ .Title }}<br>
		 {{ .Description }}
		</p>
		<a href="https://twitter.com/intent/tweet?text={{ .Permalink }} - {{ .Title }} {{ with .Site.Params.twitter }}by @{{ . }}{{ end }}"
			onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" class="secondary-content"><i class="material-icons">share</i></a>
	</li>
	<li class="collection-item avatar">
		<i class="fa fa-facebook-official circle blue darken-4"></i>
		<span class="title">share on facebook</span>
		<p>{{ .Title }}<br>
		 {{ .Description }}
		</p>
		<a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"
      			onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="secondary-content"><i class="material-icons">share</i></a>
	</li>
	<li class="collection-item avatar">
		<i class="fa fa-google-plus-square circle red darken-3"></i>
		<span class="title">share on Google+</span>
		<p>{{ .Title }}<br>
		 {{ .Description }}
		</p>
		<a href="https://plus.google.com/share?url={{ .Permalink }}"
     onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" class="secondary-content"><i class="material-icons">share</i></a>
	</li>
	<li class="collection-item avatar">
		<i class="fa fa-linkedin-square circle blue darken-3"></i>
		<span class="title">share on LinkedIn</span>
		<p>{{ .Title }}<br>
		 {{ .Description }}
		</p>
		<a  href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}
			&summary={{ .Description }}source={{ .Title }}"
			onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" class="secondary-content"><i class="material-icons">share</i></a>
	</li>
</ul>
    </div>
  </div>
