<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#134717">
<meta name="apple-mobile-web-app-status-bar-style" content="#134717">
<link rel="icon" sizes="457x762" href="img/profile.png">
<meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}">
<meta name="author" content="{{ with .Site.Params.name }}{{ . }}{{ end }}">
<meta name="twitter:card" content="{{ .Summary }}" />
<meta name="twitter:site" content="@iamthinkking" />
<meta name="twitter:creator" content="@iamthinkking" />
<meta property="og:url"                content="{{ .Permalink }}&fbrefresh=70v3?refid=LinkedIn" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{{if .Title }}{{.Title}}{{else}}{{.Site.Title}}{{end}}" />
<meta property="og:description"        content="{{ if .IsHome }}{{ .Site.Params.SiteDescription }}{{ else if .IsPage }}{{ .Description }}{{ else if .IsNode }}{{ index .Site.Data .Title }}{{ end }}" />
<meta property="og:image"              content="img/{{ with .Site.Params.header.image }}{{ . }}{{ else }}profile.png{{ end }}" />

{{ .Hugo.Generator }}
<title>{{ .Site.Title }}</title>
<base href="{{ .Site.BaseURL }}">
{{ "<!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->" | safeHTML }}
<!--<link href="{{ .Site.BaseURL }}css/bootstrap.min.css" rel="stylesheet">-->

{{ "<!-- Materialize Core CSS -->" | safeHTML }}
 <link rel="stylesheet" href="{{ .Site.BaseURL }}css/materialize.min.css">

{{ "<!-- Materialize Icons CSS -->" | safeHTML }}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{{ "<!-- Custom CSS -->" | safeHTML }}
<link id="css" href="{{ .Site.BaseURL }}css/day.css" rel="stylesheet">

{{ "<!-- Custom Fonts -->" | safeHTML }}
<link href="{{ .Site.BaseURL }}css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/2f85a2b305.css">
<!--<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">-->
{{ "<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->" | safeHTML }}
{{ "<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->" | safeHTML }}
{{ "<!--[if lt IE 9]>" | safeHTML }}
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://use.fontawesome.com/da4e7393ae.js"></script>
{{ "<![endif]-->" | safeHTML }}

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-36448756-2', 'auto');
	ga('send', 'pageview');

</script>
