{{ "<!-- Header -->" | safeHTML }}
<header>
	<div class="slider">
		<ul class="slides">
			<li>
				<img src="https://static.wixstatic.com/media/1da8fe_f04745d60b29ac7fd282e48d6919ec36.jpg/v1/fill/w_792,h_528,al_c,q_90/1da8fe_f04745d60b29ac7fd282e48d6919ec36.webp"> <!-- random image -->
				<div class="caption center-align">
					<h3>This is our big Tagline!</h3>
					<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
				</div>
			</li>
			<li>
				<img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
				<div class="caption left-align">
					<h3>Left Aligned Caption</h3>
					<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
				</div>
			</li>
			<li>
				<img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
				<div class="caption right-align">
					<h3>Right Aligned Caption</h3>
					<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
				</div>
			</li>
			<li>
				<img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
				<div class="caption center-align">
					<h3>This is our big Tagline!</h3>
					<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
				</div>
			</li>
		</ul>
	</div>
</header>

	    <!--
<header>
    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <img class="s6"  src="img/{{ with .Site.Params.header.image }}{{ . }}{{ else }}profile.png{{ end }}" alt="">
                <div class="intro-text col s12">
                    <span class="name">{{ with .Site.Params.header.name }}{{ . }}{{ end }}</span>
                    <span class="skills">{{ with .Site.Params.header.subtitle }}{{ . }}{{ end }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
	    -->
