{{ "<!-- jQuery -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/jquery-3.1.1.min.js"></script>
{{ "<!-- Bootstrap Core JavaScript -->" | safeHTML }}
<!--<script src="{{ .Site.BaseURL }}js/bootstrap.js"></script>-->
{{ "<!-- Materialize Core JavaScript -->" | safeHTML }}
 <script src="{{ .Site.BaseURL }}js/materialize.min.js"></script>
{{ "<!-- Contact Form JavaScript -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/jqBootstrapValidation.js"></script>
<script src="{{ .Site.BaseURL }}js/contact_me.js"></script>
{{ "<!-- Custom Theme JavaScript -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/freelancer.js"></script>
{{ "<!-- GeoLocation Plugin-->" | safeHTML }}
<script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>


<script type="text/javascript">


    function toggledisplay() {
    var x = document.getElementById('navlocate');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}

	$( document ).ready(function(){
		$(".dropdown-button").dropdown();
		$('.slider').slider({fullWidth: true, padding:200},setTimeout(autoplay, 4500));
		 function autoplay() {
			    $('.slider').carousel('next');
				$('.carousel').carousel('next');
			    setTimeout(autoplay, 4500);
		 }
		  $('.button-collapse').sideNav({
			menuWidth: 300, // Default is 300
			edge: 'left', // Choose the horizontal origin
			closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
			draggable: true // Choose whether you can drag to open on touch screens
		});
		$('.modal').modal();
		$('.target').pushpin({
		      top: 0,
		      bottom: 1000,
		      offset: 0
		});
		$(".location").click(function(){
			$(".nav-content").toggleClass("hidden unhidden");
		});
	});
	$('.carousel.carousel-slider').carousel({fullWidth: true});

</script>

