<ul id="post-list" class="archive readmore">
    <h3>{{ with .Site.Params.readMore }}{{ . }}{{ else }}Read more{{ end }}</h3>
    
    
    {{ range first 3 (where .Site.Pages "Params.hidden" "ne" "true") }}
    {{ $url := replace .Permalink .Site.BaseURL "" }}
        {{ if and (ne $url "about/") }}
			<div id="row">
				<div class="col s4">
					<div class="card-panel hoverable small">
						<div class="card-content">
							<h2 class="card-title">{{ .Title }}</h2>
							<br><aside class="dates">{{ .Date.Format "2006-01-02" }}</aside>
							<br>{{ .Description | markdownify }}
						</div>
								<br></br>
						<div class="card-action">

						    <button class="btn red waves-effect waves-light" onclick="location.href='{{ .Permalink }}';">Read More
							    <i class="material-icons right">remove_red_eye</i>
						    </button>
						</div>
					</div>
				</div>
			</div>
        {{ end }}
   {{ end }}
</ul>
