{{ "<!-- Location Grid Section -->" | safeHTML }}
<section id="location">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 center">
				<h2>{{ with .Site.Params.location.title }}{{.}}{{end}}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col s12 cards-container">
			{{ range $.Site.Data.locations }}


				<div class="col s12 m4">
					<div class="card">
						<div class="card-image">
							<img src="img/location/raw-{{ .img }}">
							<span class="card-title">{{.title}}</span>
							<a class="btn-floating halfway-fab waves-effect waves-light red" href="location/#{{.code}}"><i class="material-icons">view_list</i></a>
						</div>
						<div class="card-content">
							<p>{{ .description | markdownify }}</p>
						</div>
					</div>
				</div>

			{{ end }}
			</div>
		</div>
	</div>
</section>
