{{ "<!-- Navigation -->" | safeHTML }}
 <div class="navbar-fixed green darken-4">
	<ul id="location-list" class="dropdown-content   green darken-3">
		  <li><a class =" blue-text text-lighten-5" href="/location/#irish-town">Irish Town</a></li>
		  <li><a class =" blue-text text-lighten-5" href="/location/#new-kingston">New Kingston</a></li>
		  <li><a class =" blue-text text-lighten-5" href="/location/#port-antonio">Port Antonio</a></li>
	</ul>
	<nav>
		<div class="nav-wrapper z-depth-2  green darken-4">
			<div class="container">
				<a class="brand-logo" href="/">{{ with .Site.Params.navigation.brand }}{{ . }}{{ end }}</a>
				<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
				{{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<li class="">
						<a href="/blog">Blog</a>
					</li>
					<li>
						<a  class="dropdown-button"  data-activates="location-list" href="/location">{{ with .Site.Params.location.title }}{{ . }}{{ end }}<i class="material-icons right">arrow_drop_down</i></a>
					</li>
					<li class="page-scroll">
						<a href="#about">{{ with .Site.Params.about.title }}{{ . }}{{ end }}</a>
					</li>
					<li class="page-scroll">
					<a href="#contact">{{ with .Site.Params.contact.title }}{{ . }}{{ end }}</a>
				</ul>
				{{ "<!-- /.navbar-collapse -->" | safeHTML }}
				<ul class="side-nav" id="slide-out">
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<li class="">
						<a href="/blog">Blog</a>
					</li>
					<li class="page-scroll">
						<a href="/location">{{ with .Site.Params.location.title }}{{ . }}{{ end }}</a>
					</li>
					<li class="page-scroll">
						<a href="#about">{{ with .Site.Params.about.title }}{{ . }}{{ end }}</a>
					</li>
					<li class="page-scroll">
						<a href="#contact">{{ with .Site.Params.contact.title }}{{ . }}{{ end }}</a>
					</li>
				</ul>
			</div>
			{{ "<!-- /.navbar-collapse -->" | safeHTML }}
		</div>
		{{ "<!-- /.container-fluid -->" | safeHTML }}



					<div class="nav-content  green darken-3"  hidden>
						<ul class="tabs tabs-transparent">
							<li class="tab"><a class="active" href="#irish-town">Irish Town</a></li>
							<li class="tab"><a href="#new-kingston">New Kingston</a></li>
							<li class="tab"><a href="#port-antonio">Port Antonio</a></li>
						</ul>
					</div>
	</nav>

</div>
