<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top" class="scrollspy">

        {{ partial "nav.html" . }}

	    <header  class="">

		<div id="carousel" class="carousel slide" data-ride="carousel">

		<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">

						<div class="item active">
								<img class="img-responsive" src="/img/location/{{ .Params.title }}/highlight.jpg" alt="..."/>
								<div class="carousel-caption">
								</div>
						</div>

				{{ $code := (printf "%s" .Params.title) }}
				{{ $url := (printf "/img/location/%s" $code) }}
					{{ $folder := (printf "/static/img/location/%s/gallery" $code) }}
						{{ $files := readDir $folder }}


							{{ range $files }}
								<div class="item">
									<img class="" src="{{$url}}/gallery/{{.Name}}" alt="..."/>
									<div class="carousel-caption">

									</div>
								</div>
							{{ end }}

			</div>

		<!-- Controls -->
			<a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#carousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>	    </header>

	<section id="">
		<div class="container">
			<article class="post flow-text browser-default">
				<section id="post-body">
					{{ .Content }}
				</section>
			</article>

		</div>
	</section>


        {{ partial "footer.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>
