/*!
 * Start Bootstrap - Freelancer Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

 @import url("css/materialize.css");

body {
    overflow-x: hidden;
    color: #393141;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

#post-meta > div > div > div > img{
    height: 50px;
    width: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 700;
}


.img-centered {
    margin: 0 auto;
}

header {
    text-align: center;
    color: #fff;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2.7em;
    font-weight: 300;
}

header .intro-text .skills {
    font-size: 1.5em;
    font-weight: 300;
}

@media(min-width:768px) {
    header .container {
        padding-top: 50]]px;
        padding-bottom: 50px;
    }

    header .intro-text .name {
        font-size: 1em;
    }

    header .intro-text .skills {
        font-size: .75em;
    }
}

section {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #fff;
}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
    outline: 0;
    color: #909090 !important;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    color: white;
}


.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
    display: inline-block !important;
}
}

/* STYLED FOR MATERIALIZE */

nav .nav-wrapper{
    color: white;
}


#page-top > header > div > div > div > img{
	max-height: 70%;
	max-width: 70%;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
}

.card-panel{
	background-color: white;
}

.card-title{
	color: #393141;
}

.card-content{
	color: #3e2723;
}

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

@mixin column-count($ct) {
  -webkit-column-count: $ct;
  -moz-column-count: $ct;
  column-count: $ct;
}

.cards-container {
  column-break-inside: avoid;
  .card {
    display: inline-block;
    overflow: visible;
  }
}

@media #{$small-and-down} {
  .cards-container {
    @include column-count(1);
  }
}
@media #{$medium-and-up} {
  .cards-container {
    @include column-count(2);
  }
}
@media #{$large-and-up} {
  .cards-container {
    @include column-count(3);
  }
}


/*Styles for demo*/
.text-center {
  text-align: center;
}

footer.page-footer {
    padding-top: 20px;
    color: white;
}

footer.page-footer .footer-copyright {
}

section #post-body > ul,
section #post-body > ul > li > ul,
section #post-body > ul > li > ul > li > ul,
section #post-body > ul > li > ul > li > ul > li > ul,
section #post-body > ul > li > ul > li > ul > li > ul > li > ul{
	padding-left: 30px;
	margin-top: 10px;
	margin-bottom: 15px;
}

section #post-body > ul > li{
	list-style-type: disc;
}

section #post-body > ul > li > ul >li,
section #post-body > ul > li > ul >li > ul >li,
section #post-body > ul > li > ul >li > ul >li > ul >li,
section #post-body > ul > li > ul >li > ul >li > ul >li  > ul >li{
	list-style-type: circle;
}

.slider{
	height: 800px !important;
	background-color: #FAFAFA !important;
}

.slider .indicator{
	background-color: #FAFAFA !important;
}

.slides{
	height: 760px !important;
}

#page-top > header > div > ul.slides > li.active > img{
	filter: brightness(50%);
}

 html, body, .block {
    height: auto !important;
    min-height: 100% !important;
}

#sidenav-overlay{
    z-index: 996 !important;
}

nav .nav-wrapper {
	z-index: 995 !important;
}
