{{ "<!-- About Section -->" | safeHTML }}
	<section class="success" id="about">
	    <div class="container">
		<div class="row">
		    <div class="col-xs-12 center">
		        <h2>{{ with .Site.Params.about.title }}{{.}}{{ end }}</h2>
		    </div>
		</div>
	    <div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		    <p>{{ with .Site.Params.about.left }}{{ . | markdownify }}{{ end }}</p>
		</div>
		    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		        <p>{{ with .Site.Params.about.right }}{{ . | markdownify }}{{ end }}</p>
		    </div>
		</div>
	    </div>
	</section>
