{{ "<!-- Contact Section -->" | safeHTML }}
<section id="contact">
	<div class="container">

		<!-- Default card starts -->
		<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
			<div class="pmd-card pmd-card-default pmd-z-depth">

				<!-- Card header -->
			    <div class="pmd-card-title">
				<div class="media-body media-middle">
				    <h3 class="pmd-card-title-text">Get in touch</h3>
				    <span class="pmd-card-subtitle-text">I am always happy to make valuable new contacts.</span>
				</div>
			    </div>
			    <!-- Card body -->

			    <div class="pmd-card-body">
				<form action="//formspree.io/{{ with .Site.Params.email }}{{.}}{{ end }}" method="POST" name="sentMessage" id="contactForm" novalidate>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group pmd-textfield pmd-textfield-floating-label">
								<label class="control-label pmd-input-group-label" data-error="wrong" data-success="right">{{ with .Site.Params.contact.form.name.text }}{{.}}{{ end }}</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="material-icons md-dark pmd-sm">person_pin</i>
									</div>
									<input type="text" name="name" class="form-control" id="name" required data-validation-required-message="{{ with .Site.Params.contact.form.name.error }}{{.}}{{ end }}">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group pmd-textfield pmd-textfield-floating-label">
								<label class="control-label pmd-input-group-label" data-error="wrong" data-success="right">{{ with .Site.Params.contact.form.email.text }}{{.}}{{ end }}</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="material-icons md-dark pmd-sm">email</i>
									</div>
									<input type="email" name="_replyto" class="form-control" id="email" required data-validation-required-message="{{ with .Site.Params.contact.form.email.error }}{{.}}{{ end }}">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group pmd-textfield pmd-textfield-floating-label">
						<label class="control-label pmd-input-group-label">{{ with .Site.Params.contact.form.phone.text }}{{.}}{{ end }}</label>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="material-icons md-dark pmd-sm">phone</i>
							</div>
							<input type="tel" class="form-control" id="phone" required data-validation-required-message="{{ with .Site.Params.contact.form.phone.error }}{{.}}{{ end }}">
						</div>
					</div>
					<div class="form-group pmd-textfield pmd-textfield-floating-label">
						<div class="input-group">
							<div class="input-group-addon">
								<i class="material-icons md-dark pmd-sm">message</i>
							</div>
							<textarea rows="5" name="message" class="form-control" placeholder="{{ with .Site.Params.contact.form.message.text }}{{.}}{{ end }}" id="message" required data-validation-required-message="{{ with .Site.Params.contact.form.message.error }}{{.}}{{ end }}"></textarea>
						</div>
					</div>
					<div class="btn-group">
						<button class="btn pmd-btn-raised pmd-ripple-effect btn-primary " type="submit">{{ with .Site.Params.contact.form.button.text }}{{.}}{{ end }}</button>
						<a type="reset" class="btn pmd-btn-raised pmd-ripple-effect btn-default" href="https://inkwell.setmore.com/">book an appointment</a>
					</div>
				</form>
			    </div>
			</div>
			<!--Default card ends -->
		</div>


	</div>

</section> <!-- section content end -->
