{{ "<!-- Location Grid Section -->" | safeHTML }}
<section id="location">

	<div class="container">

		<div class="row">
		    <div class="col-xs-12 center">
			<h2>{{ with .Site.Params.location.title }}{{.}}{{end}}</h2>
		    </div>
		</div>

		{{ range $.Site.Data.locations }}
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<!-- Default card starts -->
				<div class="pmd-card pmd-card-default pmd-z-depth">

				    <!-- Card media -->
				    <div class="pmd-card-media">
					<img src="img/location/{{ .title }}/{{ .img }}" width="1184" height="666" class="img-responsive">
				    </div>

				    <!-- Card body -->
				    <div class="pmd-card-title">
					<h2 class="pmd-card-title-text">{{.title}}</h2>
					<!-- <span class="pmd-card-subtitle-text">Secondary text</span>	 -->
				    </div>

				    <div class="pmd-card-body">
					{{ .description | markdownify }}
				    </div>

				    <!-- Card actions -->
				    <div class="pmd-card-actions">
					<a href="location/{{.code}}" class="btn pmd-btn-flat pmd-ripple-effect btn-primary" type="button">See More</a>
				    </div>
				</div>
				<!--Default card ends -->

			</div>
		{{ end }}
	</div>
</section>


		<!-- <div class="row"> -->
		<!-- 	<div class="col s12 cards-container"> -->
		<!-- 	{{ range $.Site.Data.locations }} -->


		<!-- 		<div class="col s12 m12 l4 xl4"> -->
		<!-- 			<div class="card"> -->
		<!-- 				<div class="card-image"> -->
		<!-- 					<img src="img/location/raw-{{ .img }}"> -->
		<!-- 					<span class="card-title">{{.title}}</span> -->
		<!-- 					<a class="btn-floating halfway-fab waves-effect waves-light red" href="location/#{{.code}}"><i class="material-icons">view_list</i></a> -->
		<!-- 				</div> -->
		<!-- 				<div class="card-content"> -->
		<!-- 					<p>{{ .description | markdownify }}</p> -->
		<!-- 				</div> -->
		<!-- 			</div> -->
		<!-- 		</div> -->

		<!-- 	{{ end }} -->
		<!-- 	</div> -->
		<!-- </div> -->

			
