{{ "<!-- Navigation -->" | safeHTML }}

<!-- Nav menu with side menu -->
	<nav class="navbar navbar-fixed-top pmd-navbar pmd-z-depth">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button class="pmd-ripple-effect pmd-navbar-toggle pull-left pmd-z-depth" type="button">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/" class="navbar-brand navbar-brand-custome">
						<div class="title-containter">
							<span class="nav-title-highlight">
								{{ with .Site.Params.navigation.brand }}{{ . }}{{ end }}
							</span>
							<span>
								{{ with .Params.title }}: {{ . }}{{ end }}
							</span>
						</div>
					</a>
				</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
				<div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse pmd-navbar-sidebar">
					<ul class="nav navbar-nav pull-left">
						<li class="dropdown pmd-dropdown">
							<a data-toggle="dropdown" class="pmd-ripple-effect dropdown-toggle" data-sidebar="true">LOCATIONS <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a class="pmd-ripple-effect" href="/location/irishtown">IRISH TOWN</a></li>
								<li><a class="pmd-ripple-effect" href="/location/kingston">KINGSTON</a></li>
								<li><a class="pmd-ripple-effect" href="/location/portantonio">PORT ANTONIO</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a class="pmd-ripple-effect" href="#about">{{ with .Site.Params.about.title }}{{ . }}{{ end }}</a></li>
						<li><a class="pmd-ripple-effect" href="#contact">{{ with .Site.Params.contact.title }}{{ . }}{{ end }}</a></li>
						<li class="dropdown pmd-dropdown">
							<a data-toggle="dropdown" data-sidebar="true" class="pmd-ripple-effect dropdown-toggle">UPDATES <span class="caret"></span></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a class="pmd-ripple-effect" href="/blog">NEWS</a></li>
								<li><a class="pmd-ripple-effect" href="">TWITTER</a></li>
								<li><a class="pmd-ripple-effect" href="">FACEBOOK</a></li>
								<li class="divider"></li>
								<li><a class="pmd-ripple-effect" href="">YOUTUBE</a></li>
							</ul>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
		<div class="pmd-sidebar-overlay"></div>
	</nav>

