<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
		{{ partial "head.html" . }}
	</head>
	<body id="page-top" class="scrollspy grey lighten-5">

		{{ partial "nav.html" . }}
		{{ partial "header.html" . }}
		{{ partial "location-grid.html" . }}
		{{ partial "about.html" . }}
		{{ partial "contact.html" . }}
		{{ partial "footer.html" . }}
		{{ partial "js.html" . }}
	</body>
</html>
